cards {
    display: block;
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;
}
card{
    display: block;
    background-color: lavender;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
name{
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: darkblue;
}
profession{
    display: block;
    color: black;
}
number{
    display: block;
    color: rgb(25, 0, 255);
}
profession::before {content: "Profession: "}
number::before {content: attr(type) ": "}
number[primary]::after {content: " "attr(primary)}


